/* Universal Selector */
*{
    margin: 10px;
    background-color: aliceblue;
}
/* Class Selector */
.para{
    color: black;
}
/* Id Selector */
/* #id1{
    color: blueviolet;
} */
/* Grouping Selector */
/* .para, #id1{
    color: purple;
} */
/* Selects only p tags with the class para */
p.para{
    color: green;
}